<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.cheng7.blog.dao.mapper.ArticleTagMapper">

    <resultMap id="BaseResultMap" type="xyz.cheng7.blog.dao.pojo.ArticleTag">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="articleId" column="article_id" jdbcType="BIGINT"/>
        <result property="tagId" column="tag_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,article_id,tag_id
    </sql>
    <select id="selectByTagId" parameterType="long" resultType="xyz.cheng7.blog.dao.pojo.ArticleTag">
        select id, article_id, tag_id
        from ms_article_tag
        where tag_id = #{tagId}
    </select>
</mapper>
